/* GLOBALES */
.text-shadow{
    text-shadow: 0px 2px 8px rgb(0 0 0 / 50%);
}

/* HEADER */
.header{
    background-image: url(../MEDIA/header.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.header img{
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.692));
}
.btn-amarillo{
    background-color: #cca254;
    color: #473b2e;
}
.bg-card1{
    background-image: url(../MEDIA/Card-1.jpg);
    background-size: cover;
    background-position-y: 63%;
    height: 275px;
}
.bg-card2{
    background-image: url(../MEDIA/Card-2.jpg);
    background-size: cover;
    background-position-y: 41%;
    height: 275px;
}
.bg-card1, .bg-card2 p{
    font-size: 1.5rem;
}

/* SECTION 2 */
.section-2{
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rectang-amarillo{
    width: 65%;
    height: 19%;
    top: 10%;
    background-color: #C39520;
    z-index: -1;
}
.rectang-naranja{
    width: 60%;
    height: 19%;
    top: 68%;
    background-color: #EB7D21;
    z-index: -1;
}

/* SECTION-3 */
.bg-section-3{
    background-image: url(../MEDIA/bg-section-3.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;
}
.cuadro-section-3{
    position:absolute;
    width: 40%;
    height: 60%;
    left: 50%;
    top: 0;
    background-color: #c17f1c;
    opacity: .9;
    z-index: 10;
}
.cuadro-section-3 p{
    font-size: xx-large;
    /* line-height: 1.5rem; */
}
.imagen{
    position: relative;
    width: 100%;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
}


/* SECTION-4 */
.cuadro-naranja{
    position: absolute;
    width: 50%;
    height: 60%;
    left: 50%;
    background-color: #EB7D21;
    z-index: -1;
}

/* MENU */
.header-menu{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-texto{
    color: #707070;
}
.margen-boton-cards{
    margin-top: .77rem;
    margin-left: 0.1rem;
}
.cards{
    width: 345px;
    height: 120px;
    padding: 10px 0 ;
    border-radius: 1.7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.267);
    color: #000;
    transition: .3s ease;
}
.cards img{
    position: relative;
    right: 1rem;
    z-index: 10;
}
.cards span{
    color: #70707000;
}
.boton-cards{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #27a327;
    color: #fff;
    text-align:center;
    left: 1.3rem;
    z-index: 10;
}
.contenido-platillos span{
    color: #707070;
    transition: .3s ease;
}
.contenido-platillos{
    height: auto;
}
.cards2{
    width: 345px;
    height: 120px;
    padding: 10px 0 ;
    border-radius: 1.7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.267);
    color: #000;
    transition: .3s ease;
}
.cards2 img{
    position: relative;
    right: 1rem;
    z-index: 10;
}
.cards2 span{
    color: #70707000;
}
.boton-cards2{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #27a327;
    color: #fff;
    text-align:center;
    left: 1.3rem;
    z-index: 10;
}
.contenido-platillos2 span{
    color: #707070;
    transition: .3s ease;
}
.contenido-platillos2{
    height: auto;
}
.cards3{
    width: 345px;
    height: 120px;
    padding: 10px 0 ;
    border-radius: 1.7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.267);
    color: #000;
    transition: .3s ease;
}
.cards3 img{
    position: relative;
    right: 1rem;
    z-index: 10;
}
.cards3 span{
    color: #70707000;
}
.boton-cards3{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #27a327;
    color: #fff;
    text-align:center;
    left: 1.3rem;
    z-index: 10;
}
.contenido-platillos3 span{
    color: #707070;
    transition: .3s ease;
}
.contenido-platillos3{
    height: auto;
}
.cards4{
    width: 345px;
    height: 120px;
    padding: 10px 0 ;
    border-radius: 1.7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.267);
    color: #000;
    transition: .3s ease;
}
.cards4 img{
    position: relative;
    right: 1rem;
    z-index: 10;
}
.cards4 span{
    color: #70707000;
}
.boton-cards4{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #27a327;
    color: #fff;
    text-align:center;
    left: 1.3rem;
    z-index: 10;
}
.contenido-platillos4 span{
    color: #707070;
    transition: .3s ease;
}
.contenido-platillos4{
    height: auto;
}
.cards5{
    width: 345px;
    height: 120px;
    padding: 10px 0 ;
    border-radius: 1.7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.267);
    color: #000;
    transition: .3s ease;
}
.cards5 img{
    position: relative;
    right: 1rem;
    z-index: 10;
}
.cards5 span{
    color: #70707000;
}
.boton-cards5{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #27a327;
    color: #fff;
    text-align:center;
    left: 1.3rem;
    z-index: 10;
}
.contenido-platillos5 span{
    color: #707070;
    transition: .3s ease;
}
.contenido-platillos5{
    height: auto;
}
.cards6{
    width: 345px;
    height: 120px;
    padding: 10px 0 ;
    border-radius: 1.7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.267);
    color: #000;
    transition: .3s ease;
}
.cards6 img{
    position: relative;
    right: 1rem;
    z-index: 10;
}
.cards6 span{
    color: #70707000;
}
.boton-cards6{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #27a327;
    color: #fff;
    text-align:center;
    left: 1.3rem;
    z-index: 10;
}
.contenido-platillos6 span{
    color: #707070;
    transition: .3s ease;
}
.contenido-platillos6{
    height: auto;
}

@media (min-width:1400px) {
    .rectang-amarillo{
        width: 63%;
        height: 19%;
        top: 16%;
    }
    .rectang-naranja{
        width: 60%;
        height: 19%;
        top: 63%;
    }
}
@media (max-width:600px) {
    .bg-card1{
        background-image: url(../MEDIA/Card-1.jpg);
        background-size: cover;
        background-position-y: 63%;
        height: 153px;
        border-radius: 2rem;
    }
    .bg-card2{
        background-image: url(../MEDIA/Card-2.jpg);
        background-size: cover;
        background-position-y: 41%;
        height: 153px;
        border-radius: 2rem;
    }
    .bg-card1, .bg-card2 p{
        font-size:medium;
    }
   /* SECTION-2 */
   .rectang-amarillo{
        width: 100%;
        height: 14.5%;
        top: -1%;
    }
    .rectang-naranja{
        width: 100%;
        height: 19%;
        top: 53%;
    }
    /* SECTION-3 */
    .bg-section-3{
        height: 60vh;
    }
    .cuadro-section-3{
        width: 77%;
        height: 56%;
        left: 17%;
        top: 0;
    }
    .cuadro-section-3 p{
        font-size: large;
        line-height: 1.5rem;
    }
    .imagen{
        position: relative;
        width: 100%;
        height: 60vh;
        /* object-fit: cover; */
        z-index: -1;
    }
    /* SECTION-4 */
    .cuadro-naranja{
        position: absolute;
        width: 50%;
        height: 70%;
        left: 50%;
        background-color: #EB7D21;
        z-index: -1;
    }

}
